# This file is used to ignore files and directories in a Git repository.
datasets/Reviews_short.csv
datasets/Reviews_without_stopwords_and_br.csv
datasets/Reviews_without_stopwords_br_I.csv
datasets/Reviews_without_stopwords.csv
datasets/Reviews.csv
Projet_Amazon_Reviews_avec_du_Deep_Learning_2025.pdf
datasets/Reviews_without_stopwords_short.csv
datasets/Reviews_without_stopwords_br.csv
datasets/Reviews_copy.csv
datasets/Reviews_clean.csv
datasets/Reviews_clean_copy.csv
datasets/Reviews_clean_copy_short.csv
datasets/Reviews_lemmatized.csv
Projet amazon  Fanny BADOULES-Néo COLPIN.pdf
fine_tuned_roberta/model.safetensors
fine_tuned_roberta_local/model.safetensors
.env
